.card {
    height: 80vh;
    width: 20vw;
}

.headContainer {
    height: 50vh;
}

#next {
    width: 15vw;
}

#resetBtn {
    background-color: white;
    border-radius: 30px;
    width: 5vw;
    height: 5vh;
}