body {
    background-color: rgb(241, 241, 241);
    font-family: 'Overpass Mono', monospace;
}


h1 {
    opacity: 0.6;
}

p {
    width: 300px;
}

.card {
    height: 700px;
    width: 350px;
    border-radius: 0;
    margin-top: 15px;
}

.headContainer {
    height: 700px;
    margin: 30px;
}

.text-info {
    opacity: 0.7;
}

.btn-info {
    opacity: 0.7;
    color: white;
    border: 1px solid black;
    border-radius: 0;
    height: 7px;
}

.bottomContainer {
    height: 275px;
}

.bi-arrow-counterclockwise {
    font-size: 30px;
}

.next {
    width: 275px;
    height: 60px;
}

.resetBtn {
    background-color: white;
    /* border-radius: 30px; */
    font-size: 17px;
    margin: 20px;
    width: 4.5vw;
    height: 7.5vh;
}