.card {
    height: 80vh;
    width: 30vw;
}

.headContainer {
    height: 50vh;
}

#next {
    width: 22vw;
}

#resetBtn {
    background-color: white;
    border-radius: 20px;
    width: 5vw;
    height: 5vh;
}